.canvasCells {
  width: 10px;
  height: 10px;
  border: solid 1px grey;
  display:inline-block;
}

.paletteCells {
  width:30px;
  height:30px;
  border: solid 1px black;
  display:inline-block;
}

#pixelPainter {
  /*background-color: green;*/
}

#pp-canvas {
  /*border: solid 1px grey;*/
  /*width: 250px;*/
}

button {
  width: 100px;
  height: 50px;
  font-family: Garamond;
  font-size: 20px;
  margin: 10px;
}

#colorPalette {
  margin-top: 50px;
  margin-bottom: 10px;
}