h1 {
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: -50px;
}

.canvasCells {
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  background-color: white;
/*  border-right: solid 1px #D0D0D0;
  border-bottom: solid 1px #D0D0D0;*/
  display: inline-block;
  box-shadow: inset 3px 3px 3px rgba(255, 255, 255, .4), inset -3px -3px 3px rgba(0, 0, 0, .4);

}

.paletteCells {
  box-sizing: border-box;
  margin: 5px;
  width:40px;
  height:40px;
  /*border: solid 1px black;*/
  display:inline-block;
  border-radius: 10px;
  /*box-shadow: 0px 5px 2px #888888;*/
  box-shadow: inset 3px 3px 3px rgba(255, 255, 255, .4), inset -3px -3px 3px rgba(0, 0, 0, .4);
}

.activeColor {
  box-sizing: border-box;
  border: solid 2px black;
  margin: 3px;
  width:44px;
  height:44px;
}

#pixelPainter {
  /*background-color: green;*/
  width: 700px;
  margin: auto;
  text-align: right;

}

#pp-canvas {
  /*border: solid 1px grey;*/
  /*width: 250px;*/
  box-sizing: border-box;
  background-color: green;
  display: inline-block;
  border-left: solid 1px #D0D0D0;
  border-top: solid 1px #D0D0D0;
  border-radius: 5px;
}

#cell1-1{
  border-radius: 5px 0px 0px 0px;
}

#cell1-30{
  border-radius: 0px 5px 0px 0px;
}

#cell30-30{
  border-radius: 0px 0px 5px 0px;
}

#cell30-1{
  border-radius: 0px 0px 0px 5px;
}


button {
  width: 100px;
  height: 50px;
  font-family: Garamond;
  font-size: 20px;
  margin: 10px;
}

#colorPalette {
/*  margin-top: 50px;
  margin-bottom: 10px;*/
  /*border: solid 1px black;*/
  /*border-radius: 100%;*/

}

#toolBox {
  background-color: #888888;
  display: inline-block;
  margin-left: 50px;
  vertical-align: top;
  overflow: auto;
  box-shadow: inset 3px 3px 3px rgba(255, 255, 255, .4), inset -3px -3px 3px rgba(0, 0, 0, .4);
  padding: 5px;
  border-radius: 5px;
}

.toolBoxButton {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  /*box-shadow: 5px 5px 2px #888888;*/
  text-align: center;
  /*border: solid 2px #D0D0D0;*/
  background-color: white;
  display: inline-block;
  margin: 5px;
  box-shadow: inset 3px 3px 3px rgba(255, 255, 255, .4), inset -3px -3px 3px rgba(0, 0, 0, .4);
}

/*.toolBoxButtonImg {
  width: 35px;
  height: 35px;
  display: inline-block;
  margin-top: 8px;
}*/

#clearBtn{
  width: 40px;
  height: 40px;
  border-radius: 10px;
  /*box-shadow: 5px 5px 2px #888888;*/
  text-align: center;
  /*border: solid 2px #D0D0D0;*/
  background-color: white;
  display: inline-block;
  margin: 5px;
  box-shadow: inset 3px 3px 3px rgba(255, 255, 255, .4), inset -3px -3px 3px rgba(0, 0, 0, .4);
}

.clickedButton {
  border: solid 2px black;
  /*background-color: blue;*/
  /*border-style: outset;*/
}

.text{
  cursor: text;
}